<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/all.min.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="container">
        <img src="../static/images/logo.png" alt="" class="logo" />
        <nav class="nav-perant">
          <span class="icon">
            <span></span>
            <span></span>
            <span></span>
          </span>

          <ul>
            <li><a href="#Services">Services</a></li>
            <li><a href="#Portfolio">Portfolio</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- end Header -->

    <!-- Landimg -->
    <section class="landing">
      <div class="intro-text">
        <h1>Hello There!</h1>
        <p>whe are leon - Super Creative & Minmal Agency web Template</p>
      </div>
    </section>
    <!-- end Landimg -->
    <!-- features -->
    <section class="features">
      <div class="container">
        <div class="fet">
          <i class="fa-solid fa-wand-magic-sparkles"></i>
          <h3>Teh web</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non,</p>
        </div>
        <div class="fet">
          <i class="fa-regular fa-gem"></i>
          <h3>The news</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad aut
          </p>
        </div>
        <div class="fet">
          <i class="fa-solid fa-earth-europe"></i>
          <h3>The globe</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
    </section>
    <!-- end features-->

    <!-- services -->
    <section class="services" id="Services">
      <div class="container">
        <h2 class="spiceal-hedding">Services</h2>
        <p>Dont busy be products!</p>

        <div class="services-content">
          <div class="col">
            <!-- Start service -->
            <div class="srv">
              <i class="fa-solid fa-palette fa-2x"></i>
              <div class="text-service">
                <h3>Graphic Disgain</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  libero tempore quidem aliquam? Voluptates itaque, dolore
                </p>
              </div>
            </div>
            <div class="srv">
              <i class="fa-solid fa-pen-nib fa-2x"></i>
              <div class="text-service">
                <h3>Web Disgain</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  libero tempore quidem aliquam? Voluptates itaque, dolore
                </p>
              </div>
            </div>
            <!-- End service -->
          </div>
          <div class="col">
            <!-- Start service -->
            <div class="srv">
              <i class="fa-solid fa-user-gear fa-2x"></i>
              <div class="text-service">
                <h3>Ux Disgain</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  libero tempore quidem aliquam? Voluptates itaque, dolore
                </p>
              </div>
            </div>
            <div class="srv">
              <i class="fa-brands fa-sketch fa-2x"></i>
              <div class="text-service">
                <h3>Ui Disgain</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  libero tempore quidem aliquam? Voluptates itaque, dolore
                </p>
              </div>
            </div>
            <!-- End service -->
          </div>

          <div class="col">
            <div class="image image-col">
              <img src="../static/images/images.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end services -->

    <!-- Start portfolio -->
    <section class="portfolio" id="Portfolio">
      <div class="container">
        <h2 class="spiceal-hedding">Portfolio</h2>
        <p>Dont busy be portfolio!</p>

        <div class="portfolio-content">
          <div class="card">
            <img src="../static/images/portfolio 1.jpg" alt="" />

            <div class="info">
              <h3>portfolio header</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum,
              </p>
            </div>
          </div>

          <div class="card">
            <img src="../static/images/portfolio 2.jpg" alt="" />

            <div class="info">
              <h3>portfolio header</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum,
              </p>
            </div>
          </div>

          <div class="card">
            <img src="../static/images/portfolio 1.jpg" alt="" />

            <div class="info">
              <h3>portfolio header</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum,
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End portfolio -->

    <!-- Start About -->
    <section class="about" id="About">
      <div class="container">
        <h2 class="spiceal-hedding">About</h2>
        <p>Dont busy be about!</p>

        <div class="about-content">
          <div class="image">
            <img src="../static/images/about.jpg" alt="" />
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, quisquam. Nobis commodi et ut unde amet fuga expedita
              voluptatibus, odio maxime culpa ea assumenda. Enim sit molestias
              sunt maxime placeat.
            </p>
            <hr />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, quisquam. Nobis commodi et ut unde amet fuga expedita
              voluptatibus, odio maxime culpa ea assumenda. Enim sit molestias
              sunt maxime placeat.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End portfolio -->

    <!-- Start Contact -->

    <section class="contact" id="Contact">
      <div class="container">
        <h2 class="spiceal-hedding">Contact</h2>
        <p>Dont busy be contact!</p>

        <div class="info">
          <p class="label">Feel free to drop us a line at:</p>
          <a href="mailto:info@example.web" class="link"
            >mailto:info@example.web</a
          >

          <div class="social">
            Find in social media
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
          </div>
        </div>
      </div>
    </section>

    <!-- End Contact -->

    <!-- Start footer -->
     <footer class="footer">
      &copy; 2026 <span>leon</span> all Right Reserved
     </footer>
    <!-- End footer -->
  </body>
</html>
